.banner-background{
    background-image: url('https://twiticon.com/images/twiticon_grid.png');

    width: 100%;
    height: 317px;
    @media (min-width : 551px) and (max-width : 700px){
        height: 369px;
    }
    @media (max-width : 550px){
        height: auto;
    }
}
.mobile-banner-br{
    display: none;
    @media (max-width : 880px){
        display: block;
    }
}

.banner-title{
    width: 928px;
    height: 81px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 47px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-left : calc((100% - 928px)/2);
    margin-top : 43.5px;

    @media (min-width : 701px) and (max-width : 880px){
        height: 132px;
        margin-top: 25px;
    }

    @media (min-width : 551px) and (max-width : 700px){
        height: 132px;
        font-size: 40px;
    }
    @media (max-width : 550px){
    
        height: auto;
        font-size: 7vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
        
    }
}
