.banner-background{
    background-image: url('http://twiticon.com/twiticon_grid.png');

    width: 100%;
    height: 317px;
}


.banner-title{
    width: 928px;
    height: 81px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 47px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-left : calc((100% - 928px)/2);
    margin-top : 43.5px;
}
