html,body{
    margin: 0;
    padding: 0;
    
    height: 100%;
    width : 100%;
}
*{margin:0; padding:0;}

#__next{
    margin: 0;
    padding: 0;
    
    height: 100%;
    width : 100%;
}

.main{
    margin: 0;
    padding: 0;
    
    height: calc(100% - 93px);
    width : 100%;

    background-color: #faf5f8;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

.main-contents-container{
    width: 100%;
    text-align: center;
    overflow: unset;
}

.main::-webkit-scrollbar {
    display: none !important;
}

*:focus{
    outline: 0px;
}

div {
    overflow: hidden;

    display: inline-block;
    
    vertical-align: text-top;
}
a{
    display: inline-block;
    
    vertical-align: text-top;

    text-decoration:none
}

