//components/EmoticonList.js

.emoticon-info-view-visible{
    display:block;
}

.emoticon-info-view-invisible{
    display: none;
}

//components/EmoticonInfoView.js

.emoticon-info-view-flex{
    display: flex;
}

.emotcion-info-view-lodaer-container{
    width : 100%;
    height: 100%;

    position: absolute;
    background-color: rgba(0,0,0,0.35);
    text-align: center;
}
.emoticon-info-view-loader-wrapper{
    top : calc(50% - 17.5px);
    position: relative;
}

.emoticon-info-view-loader{
    
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;

    //margin-top : calc(50% - 25px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.emoticon-info-view-container{
    width : calc(100% - 44px);
    height: 119px;
    border: solid 1px #d1d1d1;
    background-color: #ffffff;

    display : flex;
    justify-content: space-between;

    position: relative;

    margin-top : 22px;
    padding-top : 16px;
    padding-bottom : 16px;
    padding-left : 21px;
    padding-right : 21px;
}

.emoticon-info-view-x4{
    display:inline-block;
    width: 112px;
    height: 112px;
    object-fit: cover;
}

.emoticon-info-view-contents{
    margin-left : 19px;
    display: inline-block;
}

.emoticon-info-view-title{
    display : block
}

.emoticon-info-view-icon{
    width: 28px;
    height: 28px;
    object-fit: cover;
    display: inline-block;
}

.emoticon-info-view-name{
    margin-left : 11px;
    height: 28px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: inline-block;
}

.emoticon-info-view-contents-label{
    height: 30px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    display: block;
    margin-top : 8px;
}

.emoticon-info-view-aliases{
    text-align: left;
    display : block;
    height: 39px;
    overflow-x : visible;
    margin-top : 7px;
}

//components/EmoticonAlias.js

.emoticon-info-alias-wrapper{
    display: inline-block;
    margin-right : 13px;
    position: relative;
    height: 39px;
}

.emoticon-info-alias{
    background-color: #000000;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
    //margin-left : 10px;
}

.emoticon-info-alias-text{
    margin-left : 10px;
    margin-right : 10px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    display : inline-block;
}
.emoticon-info-alias-arrow-wrapper{
        
    position: absolute;
    top : 25.64%;
}

.emoticon-info-alias-arrow{
    background-color: #000000;
    /*
    height: 11px;
    width: 11px;
    margin : 5px;
    */
    transform: rotate(45deg);
}