
div {
    overflow: hidden;

    display: inline-block;
    
    vertical-align: text-top;
}
a{
    display: inline-block;
    
    vertical-align: text-top;

    text-decoration:none
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }


.header-box{
    height: 93px;
    width: 100%;
    background-color: #ffffff;  
    padding-left : calc((100% - 1146px ) /2 );
    padding-right : calc((100% - 1146px ) /2 );
    overflow: visible;
    white-space : nowrap; 

    @media (max-width : 1111px){
        padding-left : 0px;
        padding-right : 0px;
    }
}

.header-box-sub{
    border: solid 1px #d9d9de;
}

.header-logo{
    margin-top: 24px;
    cursor: pointer;
}

.header-logo-twiti{
    width: 103px;
    height: 38px;
    font-family: "Godo";
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #b465b4;
}



.header-logo-con{

    margin-left: -6px;
    

    width: 40px;
    height: 45px;
    font-family: "Godo";
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
}

.header-menu-sub .header-menu{
    height: 25px;
    font-size: 14px;
}

.header-menu-active{
    border-bottom : 1px solid #b465b4;
}

.header-menu-active .header-menu{
    color : #b465b4;
}

.header-menu-passive{
    border-bottom : 1px;
}

.header-menu{
    height: 29px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}


.header-basic-emote{
    width: 119px;
}

.header-layout{
    display: inline-block;
    overflow: visible;
}

.header-box-main .header-layout{
    margin-left: 374px;

    @media (max-width : 1111px){
        margin-left : calc(100% - 720px);
    }
}

.header-box-sub .header-layout{
    margin-left: 61px;
}

.header-usage{
    margin-left : 20px;
    width: 65px;
}

.header-twiticon-portal{
    margin-left : 20px;
    width: 137px;
}

.header-notice{
    margin-left : 20px;
    width: 77px;
}

.header-box-sub .header-notice{
    margin-right: 20px;
}

.header-box-main .header-notice{
    margin-right: 41px;
}

.header-login {
    margin-left:26px;
    width: 77px;

}