
div {
    overflow: hidden;

    display: inline-block;
    
    vertical-align: text-top;
}
a{
    display: inline-block;
    
    vertical-align: text-top;

    text-decoration:none
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }


.header-box{
    height: 93px;
    background-color: #ffffff;  
    width: 1146px;
    padding-left : calc((100% - 1146px ) /2 );
    padding-right : calc((100% - 1146px ) /2 );
    overflow: visible;
    white-space : nowrap; 

    @media (max-width : 1176px){
        padding-left : 30px;
        padding-right : 30px;
        width: calc(100% - 60px);
    }

    @media (max-width : 880px){
        display: none;
    }
}

.header-box-sub{
    height: 76px !important;
    border-bottom: solid 1px #d9d9de;
}


.header-box-main .header-menu{
    margin-top : 6px;
}

.header-box-sub .header-menu{
    margin-top: 7px;
}

.header-box-sub .header-menu-txt{
    height: 27px;
    font-size: 18px;
}

.header-menu{
    
    margin-right: 15px;
}

.header-menu-active{

    border-bottom : 3px solid #b465b4;
}


.header-login{
    height: 29px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom : 2px;
    cursor: pointer;
}

.header-menu-active .header-menu-txt{
    color : #b465b4;
}

.header-menu-passive{
    border-bottom : 1px;
}

.header-menu-txt{
    height: 29px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-bottom : 2px;
}


.header-basic-emote{
    width: 119px;
}

.header-contents{
    overflow: visible;
    display: flex;
    justify-content: space-between;
}

.header-layout{
    margin-top: 24px;
    display: inline-block;
    overflow: visible;
}

.header-box-sub .header-layout{
    margin-top : 16px;
}

.header-usage{
    margin-left : 20px;
    width: 65px;
}

.header-twiticon-portal{
    margin-left : 20px;
    width: 137px;
}

.header-notice{
    margin-left : 20px;
    width: 77px;
}

.header-box-sub .header-notice{
    margin-right: 20px;
}

.header-box-main .header-notice{
    margin-right: 41px;
}

.header-login {
    margin-left:26px;
    width: 77px;

}

.header-contents{
    width : 100%;
}

