@font-face { font-family: 'Arita-dotum-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

.introduce-contents-container{
    width: 100%;
    overflow: visible;
    position: relative;
}

.introduce-contents-top{
    position: absolute;
    width: 1322px;
    height: 120px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.44);
    background-color: #ffffff;
    top: -60px;
    left : calc(50% - 661px);
    z-index: 1000;
}

.introduce-title-txt{
    width: 616px;
    height: 51px;
    font-family: 'Arita-dotum-Medium';
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.introduce-section-first{
    width: 100%;
    height: 368.1px;
    background-color: #faeefc;
}

.introduce-section-first .introduce-section-title{
    margin-top : 128px;
}

.introduce-section-title>*{
    vertical-align: text-top;
}

.introduce-title-txt{
    margin-left : 8px;
}

.introduce-chatbox{
    width: 348px;
    height: 203px;
    border: solid 1px #d9d9de;
    background-color: #fafafa;
    margin-top : 116px;
}

.introduce-chatbox .chatbox-chat-input-container{
    position: relative;
    overflow: visible;
    margin-top : 100px;
}

