
.header-logo{
    cursor: pointer;
}


.header-logo-twiti{
    width: 103px;
    height: 38px;
    font-family: "Godo";
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #b465b4;
}



.header-logo-con{

    margin-left: -6px;
    

    width: 40px;
    height: 45px;
    font-family: "Godo";
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
}