.flex{
    display: flex;
}

.space-between{
    justify-content: space-between
}

.main-contents{
    width : 1060px;
    text-align: left;
}

.main-contents-header{
    margin-top: 26.4px;
    display: block;
    overflow: visible;
}

@media (max-width : 550px){
    .main-contents-header{
        margin-top: 10px;
    }
    .main-contents-body{
        margin-top : 15px;
    }
}

.main-contents-title-state{
    overflow: visible;
}
.main-contents-title-state .dropdown{
    margin-right : 5px;
}

.main-contents-title{
    height: 46px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #6441a5;
    overflow: visible;
}

.main-contents-title-streamer{
    height: 46px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.main-contents-body{
    width: 100%;
    margin-top : 34px;
    position: relative;
}