.searchbar{
    border: solid 4px #ffffff;
    background-color: #ffffff;

    text-align:center; 

    display:inline-block;

    z-index: 1;
}
.searchbar.searchbar-header{
    border: solid 4px #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 7px;
}
.searchbar:focus-within{
    border: solid 4px #6441a5;
}
.search-bar-wrapper{
    width: 100%;
    height: 100%;
    display:flex;
}
.searchbar-textarea{
    background-color: transparent;
}

.searchbar-header{
    width : 321px;
    height: 36px;
    margin-left: 9px;
}

.searchbar-banner{
    width: 928px;
    height: 80px;
    border-radius: 15px;

    margin-top:34px;

    margin-left : calc((100% - 936px)/2);

    vertical-align: top;
}



.searchbar-textarea{

    font-family: "Noto Sans KR",sans-serif;
    font-weight:normal;
    line-height: 1.48;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    resize: none;

    border : 0px;

    overflow: hidden;

    white-space: nowrap;

    display: inline-block;
}

.searchbar-header .searchbar-textarea{
    margin-left :13px;
    margin-top : 4px;

    width : 251px;
    height: 31px;
    
    font-size: 20px;
}

.searchbar-banner .searchbar-textarea{
    margin-left :15px;
    margin-top : 10px;

    height : 60px;

    font-size: 40px;
    width: calc(100% - 50px);

}

.searchbar-textarea:focus{
    outline: 0px;
    
}

.searchbar-header .searchbar-search-button{
    border-radius: 0px;
}

.searchbar-search-button{
    border: solid 1px #6441a5;
    background-color: #6441a5;

    cursor: pointer;
    display: inline-block;

    position: relative;

    z-index: 100;

    border-top-right-radius: 10 px;;
    border-bottom-right-radius: 10px;;
}

.searchbar-banner .searchbar-search-button{
    width: 60px;
    height: 55px;
    padding-top: 5px;
    margin-left: 13px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
}

.searchbar-header .searchbar-search-button{
    margin-top: 2px;
    margin-right: 0px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
}

.searchbar-search-button:hover{
    box-shadow: unset;
}

.searchbar-banner .searchbar-search-button:hover{
    box-shadow: unset;
}

.searchbar-header .searchbar-search-button{
    width: 30px;
    height: 27px;

    padding-top : 3px;

    margin-left : 23px;
}

@media (min-width : 881px) and (max-width : 1070px){
    .searchbar.searchbar-banner{
        width : 881px;
        margin-left: calc((100% - 881px)/2);

    }
}

@media (min-width : 881px) and (max-width : 1070px){
    .searchbar.searchbar-header{
        width : 210px;
    }
    .searchbar-header .searchbar-textarea{
        width: 170px;
    } 
}

@media (min-width : 701px) and (max-width : 880px){
    .searchbar.searchbar-banner{
        width : 692px;
        margin-left: calc((100% - 700px)/2);

    }
}


@media (min-width : 551px) and (max-width : 700px){
    .searchbar.searchbar-banner{
        width :516px;
        margin-left: calc((100% - 520px)/2);

    }
}

@media (max-width : 550px){
    .searchbar.searchbar-banner{
        width :calc(100% - 28px);
        margin-left: 10px;
        height: 60px;
        margin-top: 0;
        margin-bottom: 3vw;
    }
    .searchbar-banner .searchbar-textarea {
        margin-left: 15px;
        margin-top: 10px;
        height: 40px;
        font-size: 30px;
        width: calc(100% - 70px);
    }

    .searchbar-banner .searchbar-search-button {
        width: 40px;
        height: 30px;
        padding-top: 10px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .searchbar-banner .searchbar-search-button svg{
        width : 20px;
        height: 20px;
    }
}

