.contents-container{
    width: 1097px;
    height: 100%;
    margin-top : -1px;
    margin-left : calc((100% - 1097px) /2 );

    border: solid 1px #d9d9de;
    background-color: #fafafa;
}

@media (max-width : 1097px){
    .contents-container{
        width: 100%;
        margin-left : 0;
    }
}

.search-result{
    width : 100%;
}

.search-title{
    height: 44px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-top:31px;
    margin-bottom: 30px;
    margin-left : 28px;
    
    display: block;
}

.search-result-title-container{
    margin-left : 28px;
    height: 40px;
    margin-bottom: 10px;;
}

.search-result-dropdown-btn{

    margin-top : 11px;

    width: 22px;
    height: 17px;
}

.search-result-title{
    margin-left : 18.5px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

//single result

.streamer-single-result-container{
    width : 100%;

    padding-top : 20px;
    padding-bottom: 20px;
    display: block;

    cursor: pointer;
}

.streamer-single-result-container:hover{
    background-color: #eeeeee;
    transform: 1s;
}

.streamer-single-result-flex{
    margin-left : 28px;
    display: flex;
}

.streamer-single-result-logo{
    width: 100px;
    height: 100px;

    border-radius: 50px;

    display: inline-block;
}

.streamer-single-result-contents{
    margin-left : 30px;
    width : calc(100% - 130px);
    display: inline-block;
    margin-right : 30px;
}
.streamer-single-result-name{
    height: 44px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: block;
}
.streamer-single-result-follower{
    height: 31px;
    font-family:  "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-top:8px;
    display: block;
}