.streamer-cardview-container{
    width : 160px;
    overflow-x: visible;
    margin-left : 20px;
    margin-bottom : 20px;
}

@media (min-width : 1071px){
    .streamer-cardview-container:nth-child(6n +1){
        margin-left : 0px;
    }
}


@media (min-width : 881px) and (max-width : 1070px){

    .streamer-cardview-container:nth-child(5n +1){

        margin-left : 0px;
    }
}

@media (min-width : 701px) and (max-width : 880px){

    .streamer-cardview-container:nth-child(4n +1){

        margin-left : 0px;
    }
}


@media (min-width : 551px) and (max-width : 700px){

    .streamer-cardview-container:nth-child(3n +1){

        margin-left : 0px;
    }
}

@media (max-width : 550px){
    .streamer-cardview-container:nth-child(2n +1){
        margin-left : 0px;
    }
    .streamer-cardview-container:nth-child(2n){
        margin-left : 10px;
    }

    .streamer-cardview-container{
        width : calc(50% - 5px);
    }
}

@media (min-width : 881px) and (max-width : 1070px){
    .main-contents{
        width : 881px;
    }
}


@media (min-width : 701px) and (max-width : 880px){
    .main-contents{
        width : 700px;
    }
}


@media (min-width : 551px) and  (max-width : 700px){

    .main-contents{
        width : 520px;
    }
}

@media (max-width : 550px){
    .main-contents{
        width : calc(100% - 20px);
    }
}


.streamer-cardview{
    width: 160px;
    height: 160px;
    background: url("http://twiticon.com/twitchCV_bg.png");
    background-repeat: repeat-x;
    position: relative;
}

.streamer-cardview-bg{
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.streamer-cardview-bg-on{
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: rgba(100, 65, 165,0.5);
}

@media (max-width : 550px){
    .streamer-cardview{
        width: 100%;
    }
    
    .streamer-cardview-bg{
        width: 100%;
    }
    
    .streamer-cardview-bg-on{
        width: 100%;
    }
}

.streamer-cardview-profile{
    margin-top : 42px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.streamer-profile-img{
    width: 100%;
    height: 100%;
}

.streamer-cardview-name{
    font-family: "Noto Sans KR",sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: block;

    margin-top:9px;
}

.streamer-show-detail{
    width: 63px;
    height: 18px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #6441a5;
    border-radius: 5px;;
    display: none;

    padding-top : 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;

    top : 8px;
    right: 6px;

    position: absolute;
}

.streamer-show-detail:hover{
    background-color : #8e72c2;
}

.streamer-cardview:hover .streamer-show-detail{
    display: block;
}


// components/streamerTwitionList.js

.streamer-twiticon-list {
    margin-top : 13px;
    width : 1058px;

    @media (min-width : 881px) and (max-width : 1070px){
        width: 879px;
    }
    @media (min-width : 701px) and (max-width : 880px){
        width: 698px;
    }
    
    @media (min-width : 551px) and (max-width : 700px){
    
        width : 518px;
    }
    @media (max-width : 550px){
    
        width :calc(100% - 2px);
    }

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    left : 0;

    position: absolute;
    display: block;

    border: solid 1px #d1d1d1;
}

.streamer-twiticon-list-on {
    visibility: visible;
}
.streamer-twiticon-list-off {
    visibility: hidden;
}


.streamer-twiticon-list-loading{
    height: 113px;
    overflow: hidden;
}

.streamer-twiticon-list-loaded{
    height: auto;
    overflow: visible;
}

//트위티콘 리스트 헤드

.streamer-twiticon-list-head{
    height: 51px;
    background-color: #faeefc;
    display: block;
    
    border-bottom: solid 1px #d1d1d1;
    border-top-right-radius: 10px;
}

.streamer-twiticon-list-head-title{
    display: inline-block;
}

.streamer-twiticon-list-twitich-logo{
    margin-top : 10.5px;
    margin-left : 13px;
    width : 28.7px;
    height: 30px;
    display: inline-block;
}

.streamer-twiticon-list-header-title-text{
    height: 30px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-top : 11px;
    margin-left : 9px;
    display: inline-block;

    @media (max-width: 550px){
        width : 120px;
        white-space: nowrap;
        overflow: hidden;
    }
}

.streamer-twiticon-list-header-title-name{
    height: 30px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;  
    color: #6441a5;

    margin-top : 11px;
    margin-left : 9px;
    display: inline-block;
}

.streamer-twiticon-list-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top : 11px;
    margin-left : 3px;
}

.streamer-twiticon-list-show-detail{
    height: 30px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display:inline-block;
    margin-top : 8.5px;

}

.streamer-twiticon-list-show-detail:hover{
    color:#8e72c2;
}

.right-button{
    width : 12px;
    height: 20px;
    margin-top : 13px;
    margin-left : 5px;
    margin-right : 5px;
}

@media (max-width : 550px){
    .streamer-twiticon-list-twitich-logo{
        display: none;
    }
    .streamer-twiticon-list-header-title-streamer{
        display: none;
    }
    .streamer-twiticon-list-header-title-name{
        display: none;
    }
    .streamer-twiticon-list-profile{
        margin-left : 10px;
    }
}

//트위티콘 리스트 바디

.streamer-twiticon-list-loaded .streamer-twiticon-loading{
    display: none;
}

.streamer-twiticon-list-loading .streamer-twiticon-loading{
    background-color: #ffffff;
    width: 100%;
    height: 61px;
    
    text-align: center;
}

.streamer-twiticon-list-body{
    padding-top : 10px;
    padding-left : 20px;
    padding-right: 20px;
    padding-bottom : 10px;
    width : calc(100% - 40px);
    min-height: 50px;

    background-color: #ffffff;

    display: block;
    overflow: visible;
    border-bottom-right-radius: 10px;
}

.streamer-twiticon-list-emotes{
    display : inline-block;
}

.twiticon-img{
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-bottom : 8px;
    margin-right : 4px;
}

.twiticon-emote-info{
    display: inline-block;
    overflow: visible;
    margin-right : 17px;
    margin-bottom : 8px;
}

.flex{
    display: flex;
    overflow: visible;
}

.twiticon-alias-container{
    padding-top: 2px;
    padding-bottom: 2px ;
}

.twiticon-alias-container .emoticon-info-alias-wrapper{
    margin-right : 0px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-top : 13px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }