.streamer{
    width: 100%;
    height: 100%;

    background-color: #faf5f8;

    overflow-y:scroll;
}

.streamer-contents-container{
    width: 100%;
    min-height: calc(100% - 97px);
    text-align: center;
}