.streamer-info-header{
    display : block;
    width : 100%;
    margin-top : 27px;

    padding-bottom : 27px;

    border-bottom : solid #e3e3e3 1px;

    @media (max-width : 880px){
        padding-bottom : 0;
        border-bottom : 0;
    }
}

.streamer-info-container{
    margin-left : 40px;
    margin-right : 40px;

    width : calc(100% - 80px);

    padding-bottom: 10px;
}

.streamer-info-header-flex{
    display: flex;
    justify-content: space-between;

    @media (max-width : 880px){
        display: block;
    }
}



.streamer-info{
    width: 1097px;
    background-color: #fafafa;

    min-height: 100vh;;

    border-left: solid 1px #d9d9de;
    border-right: solid 1px #d9d9de;

    padding-bottom: 30px;
    border-bottom: solid 1px #d9d9de;
    margin-bottom: 10px;

    @media (max-width : 1097px){
        width : 100%;
        text-align: left;
    }
}

.streamer-info-title{
    display: inline-block;
    width : 58.4%;
}

.streamer-info-title-logo{
    width: 152px;
    height: 152px;
    border-radius: 100%;
    display: inline-block;

    @media (max-width : 880px){
        width : 97px;
        height: 97px;
    }
}

.streamer-info-title-name-container{
    display: inline-block;

    margin-left : 12px;
    width : calc(100% - 160px);

    @media (max-width : 880px){
        width :  calc(100% - 100px);
    }
}

.streamer-info-title-displayname{
    display : block;

    height: 81px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    width: calc(100%);
    text-overflow: ellipsis;

    @media (max-width : 880px){
        font-size : 30px;
        height: 53px;
    }
}

.streamer-info-title-name{
    display : block;

    height: 81px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    width: calc(100%);
    text-overflow: ellipsis;

    @media (max-width : 880px){
        font-size : 30px;
        height: 53px;
    }
}

.streamer-info-title-flex{
    display: flex;
}

.streamer-info-title-displayname{
    display : block;
}

.streamer-info-title-name{
    display : block;
}